* {
  margin: 0;
  padding: 0;
}
@itemColor: #41b0db;
@itemBg: #223651;
@itemBorder: #212028;
html,
body,
#app {
  height: 100vh;
}
.box {
  height: 100vh;
  display: flex;
  // bfc
  overflow: hidden;
  &-left {
    width: 500px;
    color: white;
    &-pie {
      height: 350px;
      margin-top: 50px;
    }
    &-line {
      height: 350px;
      margin-top: 50px;
    }
    &-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      section {
        flex: 1;
        background-color: @itemBg;
        border: 1px solid @itemBorder;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        div:nth-child(2) {
          color: @itemColor;
          padding: 10px 0;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
  &-middle {
    flex: 1;
  }
  &-right {
    width: 500px;
    color: white;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    .table {
      position: absolute;
      right: 0;
      width: 400px;
      background-color: #212028;
      tr {
        th {
          padding: 5px;
          white-space: nowrap;
        }
        td {
          padding: 5px 10px;
          width: 100px;
          white-space: nowrap;
          text-align: center;
        }
      }
    }
  }
}